package main

import "github.com/jfyne/live/page"

templ ClockFromComponent(c *page.Component)  {
    // silent error
    @ClockView(c.State.(*ClockState))
}

templ ClockView(c *ClockState) {
	<div>
        <p>{ c.TZ }</p>
        <time>{ c.FormattedTime() }</time>
    </div>
}

