package main

import "github.com/jfyne/live/page"

func ClockFromComponent(c *page.Component) *ClockState {
    return c.State.(*ClockState)
}

templ ClockView(c *ClockState) {
	<div>
        <p>{ c.TZ }</p>
        <time>{ c.FormattedTime() }</time>
    </div>
}

